[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "==1.17.1"
requests = "==2.31.0"
ipykernel = "==6.29.3"
python-dotenv = "*"
argparse = "==1.4.0"

[dev-packages]

[requires]
python_version = "3.11"
